[submodule "lib/phpMobi"]
	path = lib/phpMobi
	url = https://github.com/raiju/phpMobi.git
[submodule "lib/php-markdown"]
	path = lib/php-markdown
	url = https://github.com/michelf/php-markdown.git
[submodule "lib/htmlpurifier"]
	path = lib/htmlpurifier
	url = git://repo.or.cz/htmlpurifier.git
[submodule "lib/phpFloodGate"]
	path = lib/phpFloodGate
	url = https://github.com/tiefpunkt/phpFloodGate.git
